body{
font-family:Arial;
background:#f3f4f6;
display:flex;
justify-content:center;
margin-top:60px;
}

.container{
background:white;
padding:25px;
width:420px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h1{
text-align:center;
}

.input-box{
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
}

button{
padding:10px;
cursor:pointer;
}

li{
margin-top:10px;
background:#eee;
padding:10px;
display:flex;
justify-content:space-between;
border-radius:8px;
}